{% load static %}
<!DOCTYPE html>
<html lang="en">

{% load crispy_forms_tags %}

{% include 'inc/main_head.html' %}

<style>
    body{
        background-color: #4B49AC;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .control-label, .asteriskField{
        color: #ffffff !important;
        font-size: 1.2rem;
    }

    .emailinput{
        border: none;
        color: black;
        padding: 0.4rem !important;
        border-radius: 5px;
    }

    .emailinput:focus-within{
        border: 1px solid #ffffff;
    }

</style>


<body>
    
 
<div class="container-scroller" style="width: 100%;">
    <div class="container-fluid page-body-wrapper full-page-wrapper">
        <div class="content-wrapper d-flex align-items-center auth px-0">
        <div class="row w-100 mx-0">
            <div class="col-lg-4 mx-auto">
            <div class="auth-form-light text-left py-5 px-4 px-sm-5">
                <div class="brand-logo d-flex align-items-center">
                    <i class="material-icons back-logo" onclick="window.history.back()">arrow_back</i>
                    <img src="{% static 'img/logo1.jpg'%}" alt="logo">
                </div>
                <h4>Reset password</h4>
                <h6 class="font-weight-light">Enter your registered email address</h6>
                <form class="pt-3" method="POST" id="reset-password-form">
                    {% csrf_token %}
                    <div class="form-group">
                        <!-- <input class="form-control form-control-lg" style="border-radius: 15px;" id="email" value="{{email}}" name="email" type="email" placeholder="Email address" required> -->
                        <input type="email" style="border-radius: 15px; padding: auto 20px;" name="email" maxlength="254" class="emailinput form-control form-control-lg border" required id="id_email">
                    </div>


                    <div class="row">
                        <div class="col-sm-12">
                            <p>
                                Enter your email address above, and we’ll email instructions for setting a new password.
                            </p>
                        </div>


                        <div class="col-sm-12">
                            <p  id="error" class="text-danger">
                                
                            </p>
                        </div>

                        
                      
                    </div>

                    

                    <div class="mt-3">
                        <button class="btn btn-block btn-primary btn-lg font-weight-medium auth-form-btn"
                                type="submit" id="submit_btn">Submit</button>
                    </div>
                  
                
                    
                </form>
            </div>
            </div>
        </div>
        </div>
        <!-- content-wrapper ends -->
    </div>
    <!-- page-body-wrapper ends -->
</div>

   
</body>



<!-- <div class="container-fluid d-flex flex-column justify-content-center align-items-center">
    <h2 style="color: #ffffff;" class="pt-1 pb-1 text-center">
        Password reset
    </h2>
    
    <p style="color: #ffffff; font-size: 1.2rem;" class="pt-1 pb-1 text-center">
        Forgotten your password ? Enter your email address below, and we’ll email instructions for setting a new one.
    </p>
    
    <form method="post" class="pt-2">
        {% csrf_token %}
        {{ form|crispy }}
        <input style="padding: 0.5rem 1.5rem 0.5rem 1.5rem; color: #ffffff; font-weight: 800; font-size: 1.01rem;" type="submit" value="Submit" class="btn btn-secondary font-weight-medium mt-3">
    </form>

</div> -->

<script>
    var myURL = "{% url 'check_user_email' %}";
</script>
<script src="{% static 'assets/js/password_reset.js' %}"></script>