{% load static %}

<head>
    <!-- Required meta tags -->
    <!-- <base href="http://127.0.0.1:8000/"> -->
    <base href="http://fizma.pythonanywhere.com/">
    
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, shrink-to-fit=no"
    />
    <title>Employee management with QR</title>
    <!-- plugins:css -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'assets/vendors/feather/feather.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'assets/vendors/ti-icons/css/themify-icons.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'assets/vendors/css/vendor.bundle.base.css' %}"
    />
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'assets/vendors/datatables.net-bs4/dataTables.bootstrap4.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'assets/vendors/ti-icons/css/themify-icons.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'assets/js/select.dataTables.min.css' %}"
    />
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'assets/css/vertical-layout-light/style.css' %}"
    />
    <!-- endinject -->
    <link rel="shortcut icon" href="{% static 'img/logo2.png' %}" />

    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/icon?family=Material+Icons"
    />
    <style>
      .icon-size {
        font-size: 15px;
      }

      .mk-pointer {
        cursor: pointer;
      }
    </style>

    <link rel="stylesheet" href="{% static 'assets/css/custom.css' %}" />
    <!-- <link rel="stylesheet" href="{% static 'assets/css/cards.css' %}"> -->

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  </head>
